* {
    box-sizing: border-box;
}
.container {
    font-family: Inter;
}

/*header*/
.header{
    display: flex;
    background-color: #F55A5A;
    color: #FFF;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.headerImage{
    width: 22px;
    height: 22px;
    fill: #FFF;
    margin-right: 8px;
}
.headerTitle{
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.5px;
    font-size: 14px;
}

/*card*/
.card{
    display:flex;
    margin-left: 30px;
    margin-bottom:20px;
    align-items: center;
    justify-content: center;
    
}
.cardInfo{
    display:inline-block;
    margin-left:15px;
}
.cardHeading{
    display:inline-flex;
    margin-top:16px;
    
}
.cardImage{
    width: 125px;
    height: 168px;
    border-radius: 5px;
}
.cardMaps{
    width: 7px;
    height: 9.45px;
    margin-right: 5px;
}
.cardLocation{
    font-size: 10.24px;
    font-weight: 400;
    letter-spacing: 1.7px;
    margin:auto;
}
.cardLink{
    color: #918E9B;
    font-size: 10.24px;
    font-weight: 400;
    text-decoration-line: underline;
    margin-left:12px
}
.cardTitle{
    font-size: 25px;
    font-weight: 700;
    margin-top:6px;
}
.cardDate{
    font-size: 10px;
    font-weight: 700;
}
.cardDescription{
    font-size: 10.24px;
    font-weight: 400;
    line-height: 150%;
}
.cardLine{
    width:100%;
    display:flex;
    margin:auto;
    padding-top:0px;
}